.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  background: linear-gradient(45deg, #111, #333); /* Darker gradient background */
  color: #f9f9f9; /* Lighter text color */
  -webkit-background-clip: text; /* Apply gradient to text */
  background-clip: text; /* Apply gradient to text */
  animation: glow 2s ease-in-out infinite alternate; /* Continuous glow animation */
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #111, 0 0 20px #111, 0 0 30px #111; /* Initial glow effect */
  }
  100% {
    text-shadow: 0 0 20px #333, 0 0 40px #333, 0 0 60px #333; /* Final glow effect */
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  font-size: 20px;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
  .links {
    font-size: 18px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 640px) {
  .links{
    justify-content: flex-end;
  }
  .link {
    display: none;
  }
}
